*{
    font-family: Roboto, sans-serif;
 }
 body{
    margin: 0;
    padding: 0;
    background-color: #85A5E7;
    font-size: 13px;
    line-height: 20px;
 }

 .root {
    width: 900px;
    margin: 100px auto;
  }

.card {
    border-radius: 7px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 22px 60px rgba(20,25,62, .2), 0 8px 20px rgba(14,21,47, .2);
  }

.item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 20px 40px;
    text-align: center;
    box-sizing: border-box;
    color: #5673F9;
    border-radius: 8px;
    transition: background 0.15s ease-in-out;
  }

.item:hover {
    background: #f1f1f1;
}

.item-image {
    width: 70px;
    margin-bottom: 15px;
}

.item-title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 4px;
}

.item-text {
    margin: 20px 0;
    color: #A7A7A7;
    font-weight: 450;
  }

.item-value {
    font-size: 30px;
    font-weight: 500;
  }


.item-currency {
    font-size: 14px;
  }
  